html, body {
    height: 100%;
}
body{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.box{
    display: inline-block;
    font-size: 22px;
}
.box[id="variety"]{
    padding-left: 10px;
    margin-top: 27px;
    margin-left: 50px;
    margin-right: 170px;
}
.box[id="search"]{
    margin-top: 27px;
}
.box[id="price"]{
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 100px;
}
.box1{
    display: inline-block;
}
.box1[type="text"]{
    font-size: 22px;
    height: 22px;
    width: 240px;
}